<p>
    Filtrar por apellido: <input ng-model="filtro.apel" />
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>NIF</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="seguro in seguros | filteri18n:{apel:filtro.apel}" ng-style="{color:($odd?'red':'green')}">
            <td><a ng-href="#/seguro/edit/{{seguro.idSeguro}}">{{seguro.nif}}</a></td>
            <td>{{seguro.nombre}}</td>
            <td>{{seguro.apel}}</td>
            <td ng-switch on="seguro.sexo">
                <span ng-switch-when="H">Hombre</span>
                <span ng-switch-when="M">Mujer</span>
                <span ng-switch-when=""></span>
                <span ng-switch-default>Desconocido</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">El Nº de seguros médicos es:</td>
            <td ng-bind="seguros.length"></td>
        </tr>
    </tfoot>
</table>
